// External
@import 'sanitize.css/sanitize';

// Defaults
@import 'base/variables';
@import 'base/reset';
@import 'base/mixins';
@import 'base/defaults';

// Components

.app {
  // prevent transitioning viewport height
  overflow: hidden;
  min-height: 100%;
}

.img-set {
  max-width: 90vw;
  margin: 40px auto;
  position: relative;
  transition: opacity $long $ease;

  &:not(.is-loaded) {
    opacity: 0;
  }
}

.img-item {
  padding: 2%;
  margin: 20px 0;
  background: $white;
  transform-origin: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
  // it's ok to have layers here and it adds antialiasing for the angled edges
  will-change: transform;
  display: table; // fit to contents
  table-layout: fixed; // prevent table calc

  // the z-indexed shadow
  &::before {
    @include divfill();
    display: block;
    content: '';
    z-index: 0;
    transition: opacity $long $ease, visibility $long $ease;
    visibility: visible;
  }

  // the flat shadow
  &::after {
    @include divfill();
    display: block;
    content: '';
    z-index: 0;
    transition: opacity $long $ease, visibility $long $ease;
    box-shadow: $z1;
    opacity: 0;
    visibility: hidden;
  }

  // manually set rotation, z-index and rotation
  // could be implemented in a sass loop

  &:nth-of-type(1) {
    z-index: 3;
    transform: rotateZ(-5deg);

    &::before {
      box-shadow: $z3;
    }
  }

  &:nth-of-type(2) {
    z-index: 2;
    transform: rotateZ(0deg);

    &::before {
      box-shadow: $z2;
    }
  }

  &:nth-of-type(3) {
    z-index: 1;
    transform: rotateZ(5deg);

    &::before {
      box-shadow: $z1;
    }
  }

  // sorry for the nesting
  .is-animating & {
    transition: transform $long $ease !important;
  }

  .is-expanded & {
    position: relative;
    transform: none;

    &:hover {
      .img {
        filter: none;
      }
    }
  }

  // renders the shadows to appear as if the images are on the same height
  .is-flat & {
    &::before {
      opacity: 0;
      visibility: hidden;
    }

    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

// we don't want the filters to bleed out
.img-content {
  contain: content;
  overflow: hidden;
  position: relative;
}

.img {
  display: block;
  width: 100%;
  transition: filter $short $ease;
  will-change: filter;
  visibility: hidden;

  .is-loaded & {
    visibility: visible; // prevent image decoding calculations on load
  }

  .is-touch.is-expanded & {
    filter: none;
    transition: filter $long $ease;
  }
}

.img-sepia {
  filter: sepia(100%);
}

.img-grayscale {
  filter: grayscale(100%);
}

.img-blur {
  filter: blur(10px);
}
